#player-name{
    border: solid 2px #20201a;
    border-radius: 8px;
    background-color: #8fb935;

    z-index: 2;
    position: absolute;

    margin: auto;
    left: 0;
    right: 0;
    width: 90%;
    height: 90%;
    top: 1%;
    bottom: 0;

    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: space-evenly;
    align-items: center;

    font-size: 1rem;
    font-weight: 600;
    color: black;

    button, input{
        font-size: 1rem;
        font-weight: 600;
        color: black;

        border: solid 2px #20201a;
        border-radius: 8px;
    }

    input{
        outline: none;
    }

    .info-text{
        text-align: justify;
        width: 90%;
        margin: auto;
    }

    #player-values{
        display: flex;
        gap: 20px;
    }

    .button-hide{
        display: none;
    }

    .button-show{
        display: block;
    }

}