#stage{
    height: 340px;
    padding: 32px;
    margin: 32px auto;
    background-color: #efefef;
    border-radius: 8px;

    position: relative;

    overflow: scroll;

    table, tr, th, td{
      border: solid 1px black;
      text-align: center;
    }

    table{
      margin: auto;
      width: 75%;
      margin-bottom: 20px;
    }

    #nav-panel{
        text-align: center;
  
        margin: auto;
        left: 2%;
  
        position: absolute;
        top: 2%;
        
        .navigation{
          text-decoration: none;
          color: black;
        }
      }
}